.item.active h3,
.item.active i,
.item:hover {
  color: #1976d2;
}
a {
  text-decoration: none;

}
.item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #364670;
  cursor: pointer;
  transition: all 0.3s ease;
}
.item h3 {
  font-size: 15px;
  font-weight: 500;
}

.item i{
  font-size: 22px;
}