.widgets {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .widgets {
    flex-direction: row;
    gap: 30px;
  }

  .bottom {
    justify-content: center;
    gap: 30px;
  }
}
