.main {
  flex: 6;
  padding: 25px;
}

.main .separator {
  margin: 35px 0 20px;
  font-weight: 500;
  color: #364670;
}

@media screen and (max-width: 1230px) {
  .main .quick-access .item {
    width: 23%;
  }
  .main .quick-access .item i {
    font-size: 36px;
  }
  .main .quick-access .item h5 {
    font-size: 16px;
  }
  .main .quick-access .item p {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding: 15px;
  }
  .main .header {
    gap: 10px;
  }
  .main .header .icon-btns i#menu-btn {
    display: block;
  }
  .main .quick-access .item p {
    text-align: center;
  }
  .main table tbody tr td.name,
  .main table tbody tr td.extension,
  .main table tbody tr td.size {
    font-size: 13px;
  }
}
