.sign-out {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #364670;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign-out:hover {
  color: #1976d2;
}

.sign-out h3 {
  font-size: 15px;
  font-weight: 500;
}

.sign-out .icon {
  font-size: 22px;
}

@media screen and (max-width: 1230px) {
  .sign-out h3 {
    display: none;
  }
  .sign-out i {
    font-size: 26px;
  }
}

@media screen and (max-width: 992px) {
  .sign-out h3 {
    display: block;
  }
  .sign-out i {
    font-size: 22px;
  }
}
