.signOut {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #364670;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #1976d2;
  }

  .headingT {
    font-size: 15px;
    font-weight: 500;
  }

  .icon {
    font-size: 22px;
  }
}