.right-section {
  flex: 2;
  padding: 25px 25px 15px 10px;
}

@media screen and (max-width: 1230px) {
  .right-section .profile .info .account p {
    font-size: 12px;
  }
  .right-section .widgets .disk {
    height: 270px;
  }
  .right-section .widgets .disk .progress .progress-bar {
    width: 120px;
    height: 120px;
  }
  .right-section .widgets .disk .info h5 {
    font-size: 18px;
  }

  .right-section .widgets .bottom button {
    font-size: 17px;
    padding: 12px;
  }

  .right-section .widgets .bottom .premium .title h5 {
    font-size: 17px;
  }

  .right-section .widgets .bottom .premium .title i {
    font-size: 26px;
  }

  .right-section .widgets .bottom .premium .title p {
    font-size: 14px;
  }
}
