.right-section {
  flex: 2;
  padding: 25px 25px 15px 10px;
}

@media screen and (max-width: 1230px) {
  .right-section .profile .info .account p {
    font-size: 12px;
  }
  .right-section .widgets .disk {
    height: 270px;
  }
  .right-section .widgets .disk .progress .progress-bar {
    width: 120px;
    height: 120px;
  }
  .right-section .widgets .disk .info h5 {
    font-size: 18px;
  }

  .right-section .widgets .bottom button {
    font-size: 17px;
    padding: 12px;
  }

  .right-section .widgets .bottom .premium .title h5 {
    font-size: 17px;
  }

  .right-section .widgets .bottom .premium .title i {
    font-size: 26px;
  }

  .right-section .widgets .bottom .premium .title p {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .right-section {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .right-section .profile{
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .right-section .widgets {
    flex-direction: row;
    gap: 30px;
  }

  .right-section .widgets .disk {
    width: 48%;
  }

  .right-section .widgets .bottom {
    justify-content: center;
    gap: 30px;
  }

  .right-section .widgets .bottom button {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .right-section .profile {
    width: 90%;
  }
  
  .right-section .widgets .disk .info h5 {
    font-size: 14px;
  }

  .right-section .widgets .disk .info p {
    font-size: 13px;
  }

}
